*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}

body{
    background-color: rgb(0, 168, 36);
    color: white;

}

.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
    
}

input{
    border: none;
    padding: 10px;
    outline: 0;
    font-size: 24px;
    

}
.display{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: white;
    color: #333;
    justify-content: space-between;
    padding: 10px 20px; 
    border-radius: 10px;
    box-shadow: 3px 3px 5px 1px black;

    img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}


.btn-container{
    display: flex;
    justify-content: right;
    padding-right: 50px;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(0, 90, 19);
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 3px 3px 5px 1px black;
}