*{
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg , #153677, #4e085f);
    padding: 100px ;
    display: flex;
    justify-content: center;
    
}

.todo-app{
    width: 100%;
    max-width: 540px;
    
    background-color: white;
    padding: 40px 30px 70px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    ul li{
        list-style: none;
        font-size: 17px;
        padding: 12px 8px 12px 50px;
        user-select: none;
        cursor: pointer;
        position: relative;

    }

    ul li::before{
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background-image: url(/uncheck.png);
        background-size: cover;
        background-position: center;
        top: 12px;
        left: 8px;

    }

    ul li.checked{
        color: #555;
        text-decoration: line-through;

    }
    ul li.checked::before{
        background-image: url(/5610944.png);

    }

    ul li span{
        position: absolute;
        right: 0;
        top: 5px;
        width: 90px;
        height: 40px;
        font-size: 22px;
        color: white;
        line-height: 40px;
        text-align: center;
        padding: 5px;
        font-size: 15px;
        background: orangered;
        justify-content: center;
        align-items: center;
        border-radius: 10px;

    }

    ul li span:hover{
        background: orange;

    }

}
.logo{
    display: flex;
    flex-direction: row;
}
.logo img{
    width: 30px;
    height: 30px;
    margin-left: 10px;

}

.search{
    display: flex;
    justify-content: space-between;
}
.search input{
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
    font-weight: 14px;
    
}
.search button{
    border: none;
    background: orangered;
    outline: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border-radius: 10px;

}